<h1>Welcome to Beertopia</h1>
<p>
  <%= image_tag("taps.jpeg", :alt => "Beer Taps") %>
</p>
<p>
  To see a full listing of items you can navigate through head to the <%= link_to 'Beers', beers_path %> page!
</p>
