<p id="notice"><%= notice %></p>

<h1>Style</h1>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>
<% unless @style.beers.blank? %>
  <p>
    <strong>Beers Of this style:</strong>

    <%  @style.beers.each do |beer| %>
      <%= link_to beer.name, beer %> |
    <% end %>
  </p>
<% end %>
<p><%= link_to 'Back', styles_path %></p>

